<% include ../partials/header %>

<div class="container">
  <div id="form">
    <div id="formHeader">
      <h1>Write a Testimonial</h1>
    </div>
    <div id="formBody">
      <form method="POST" action="/testimonial">
        <div class="form-group">
          <textarea class="form-control" type="text" name="content" rows="6" placeholder="write about your experience using this site" maxlength="140" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
</div> <!--CLOSES CONTAINER-->

<% include ../partials/footer %>
<% include ../partials/closingTags %>