<% include partials/header %>
<div class="container">
  <div id="faq">
    <h1 class="text-center mb-3">FAQs</h1>
    <div id="faqs">
      <div class="card mb-0">
        <div class="card-header collapsed" id="heading1" data-toggle="collapse" data-target="#faq1" aria-expanded="true" aria-controls="faq1">
          <a class="card-title">Is this site free?</a>
        </div>
        <div id="faq1" class="card-body collapse" aria-labelledby="heading1" data-parent="#accordion">
          Yes!
        </div>
      </div>
      
      <div class="card mb-0">
        <div class="card-header collapsed" id="heading2" data-toggle="collapse" data-target="#faq2" aria-expanded="true" aria-controls="faq2">
          <a class="card-title">Do I need to make an account?</a>
        </div>
        <div id="faq2" class="card-body collapse" aria-labelledby="heading2" data-parent="#accordion">
          <strong>No!</strong> You can view all our posts, message us through our Facebook page and join our Gitter chat without making an account on this site. If you want to create a post for others to read, you'll need to create an account though.
        </div>
      </div>
      
      <div class="card mb-0">
        <div class="card-header collapsed" id="heading3" data-toggle="collapse" data-target="#faq3" aria-expanded="true" aria-controls="faq3">
          <a class="card-title">How do I format my blog posts?</a>
        </div>
        <div id="faq3" class="card-body collapse" aria-labelledby="heading3" data-parent="#accordion">
          Watch <a href="https://www.useloom.com/share/fd4ac5f3dcb3488bb94a257671714a59">this</a> video. Message me, if you have any further questions or have suggestions for future features.
        </div>
      </div>
      
      <div class="card mb-0">
        <div class="card-header collapsed" id="heading4" data-toggle="collapse" data-target="#faq4" aria-expanded="true" aria-controls="faq4">
          <a class="card-title">What information do you use from my Facebook during the login?</a>
        </div>
        <div id="faq4" class="card-body collapse" aria-labelledby="heading4" data-parent="#accordion">
          We'll check your <strong>email</strong> to confirm your identity. We don't store any details. You can always use the local login option, if you're uncomfortable logging in with Facebook.
        </div>
      </div>
      
      <div class="card mb-0">
        <div class="card-header collapsed" id="heading5" data-toggle="collapse" data-target="#faq5" aria-expanded="true" aria-controls="faq5">
          <a class="card-title">Can I view this site's source code?</a>
        </div>
        <div id="faq5" class="card-body collapse" aria-labelledby="heading5" data-parent="#accordion">
          The code will be uploaded to GitHub soon. Once it has, there will be a link to it here.
        </div>
      </div>
      
      <div class="card mb-0">
        <div class="card-header collapsed" id="heading6" data-toggle="collapse" data-target="#faq6" aria-expanded="true" aria-controls="faq6">
          <a class="card-title">The website is a little slow.. Will you ever upgrade it?</a>
        </div>
        <div id="faq6" class="card-body collapse" aria-labelledby="heading6" data-parent="#accordion">
          If there is enough traffic we will. Currently, we're running this site on free plans at <a href="https://www.heroku.com/">Heroku</a> and <a href="https://mlab.com/">mLab</a>
        </div>
      </div>
      
      <div class="card mb-0">
        <div class="card-header collapsed" id="heading7" data-toggle="collapse" data-target="#faq7" aria-expanded="true" aria-controls="faq7">
          <a class="card-title">Is this site affiliated with anyone?</a>
        </div>
        <div id="faq7" class="card-body collapse" aria-labelledby="heading7" data-parent="#accordion">
          <strong>Nope!</strong> This site was created for anyone living in Korea. If you want to  off what you learned in another group that's cool.
        </div>
      </div>
      
      <div class="card mb-0">
        <div class="card-header collapsed" id="heading8" data-toggle="collapse" data-target="#faq8" aria-expanded="true" aria-controls="faq8">
          <a class="card-title">What is Gitter?</a>
        </div>
        <div id="faq8" class="card-body collapse" aria-labelledby="heading8" data-parent="#accordion">
          <a href="https://gitter.im/">Gitter</a> is an open source instant messaging and chat room system for developers and users of GitHub repositories.
        </div>
      </div>
     
      <div class="card mb-0">
        <div class="card-header collapsed" id="heading9" data-toggle="collapse" data-target="#faq9" aria-expanded="true" aria-controls="faq9">
          <a class="card-title">Will there be a Korean language option anytime?</a>
        </div>
        <div id="faq9" class="card-body collapse" aria-labelledby="heading9" data-parent="#accordion">
          In the future we hope to have an option for both Korean and English.
        </div>
      </div>
      
    </div>
  </div>
</div>
<% include partials/footer %>
<% include partials/closingTags %>